<h1>Welcome to My Playlists!!!</h1>

<p>Please select what you would like to browse:</p>

<ul>
  <li><%= link_to 'Artists', artists_path %></li>
  <li><%= link_to 'Genres', genres_path %></li>
  <li><%= link_to 'Songs', songs_path %></li>
  <li><%= link_to 'New Song', new_song_path %></li>
  <li><%= link_to 'New Artist', new_artist_path %></li>
</ul>
